<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.socar.web.mappers.AdminMapper">
   <select id="notice_list" resultType="com.socar.web.domains.AdminDTO" parameterType="com.socar.web.domains.Command">
      select t2.*
	  from (select @ROWNUM := @ROWNUM + 1 AS seq
	              ,n.title
	              ,n.content
	              ,DATE_FORMAT(n.regDate, '%Y-%m-%d') regDate
	              ,n.customerSeq
  		    from   notice n
		          ,(SELECT @ROWNUM := 0) R
		    ORDER BY n.regDate DESC
	       ) t2
	  where t2.seq between #{start} and #{end}
	  order by t2.seq asc
   </select>
   <select id="notice_count" resultType="com.socar.web.domains.Retval" parameterType="com.socar.web.domains.Retval">
	   select count(*) as count 
	   from   notice 	   
   </select>
   <select id="find_count" resultType="com.socar.web.domains.Retval" parameterType="com.socar.web.domains.Command">
   	select count(*) as count 
   	from   (select  n.title
   	               ,n.content
   	               ,DATE_FORMAT(n.regDate, '%Y-%m-%d') regDate
   	               ,n.customerSeq
   	 	    from    notice n
   	 	    WHERE   ${keyField} like CONCAT('%',#{keyword},'%')
   	       ) t
   </select>
	<select id="notice_find" resultType="com.socar.web.domains.AdminDTO" parameterType="com.socar.web.domains.Command">
      select t2.*
	  from (select @ROWNUM := @ROWNUM + 1 AS seq
	              ,n.title
	              ,n.content
	              ,DATE_FORMAT(regDate, '%Y-%m-%d') regDate
	              ,n.customerSeq  
	        from   notice n
	              ,(SELECT @ROWNUM := 0) R
	        WHERE  ${keyField} like CONCAT('%',#{keyword},'%')
	       ) t2
	   where t2.seq between #{start} and #{end}   
	   order by t2.seq asc	  
   </select>
   <select id="notice_find_by_seq" resultType="com.socar.web.domains.AdminDTO" parameterType="com.socar.web.domains.Command">
      select t2.*
	  from (select n.title
	              ,n.content
	              ,DATE_FORMAT(n.regDate, '%Y-%m-%d') regDate
	              ,n.customerSeq
	        from   notice n
	        where  ${keyField} = #{keyword}
	       ) t2
   </select>
   <insert id="regist" statementType="CALLABLE" parameterType="com.socar.web.domains.AdminDTO">
      { call MYSQL.INSERT_NOTICE(
         #{title, mode=IN,jdbcType=VARCHAR},
         #{content, mode=IN,jdbcType=CLOB},
         #{regDate, mode=IN,jdbcType=VARCHAR}
      )
      }
   </insert>
   </mapper>