<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.socar.web.mappers.CarMapper">
<select id="list" resultType="com.socar.web.domains.CarDTO" parameterType="com.socar.web.domains.Command">
      select t2.*
from (SELECT @ROWNUM := @ROWNUM + 1 AS seq
            ,c.carNum
            ,c.carType
            ,c.oilType
            ,c.carOption
            ,c.socarZone
            ,c.rentAmt
            ,c.driveAmt
            ,c.carImg
      FROM   car_v c
            ,(SELECT @ROWNUM := 0) R
     ) t2
where t2.seq between #{start} and #{end}
order by t2.seq asc
   </select>
   <select id="count" resultType="com.socar.web.domains.Retval" parameterType="com.socar.web.domains.Retval">
   	select count(*) as count from car_v
   </select>
   <select id="find_count" resultType="com.socar.web.domains.Retval" parameterType="com.socar.web.domains.Command">
   	select count(*) as count 
   	from   (SELECT c.seq
	            ,c.carNum
	            ,c.carType
	            ,c.oilType
	            ,c.carOption
	            ,c.socarZone
	            ,c.rentAmt
	            ,c.driveAmt
	            ,c.carImg
	      FROM   car_v c
	      WHERE  ${keyField} like CONCAT('%',#{keyword},'%')
	     ) t2
   </select>
	<select id="find" resultType="com.socar.web.domains.CarDTO" parameterType="com.socar.web.domains.Command">
	select t2.*
	from (select @ROWNUM := @ROWNUM + 1 AS seq
                ,c.carNum
	            ,c.carType
	            ,c.oilType
	            ,c.carOption
	            ,c.socarZone
	            ,c.rentAmt
	            ,c.driveAmt
	            ,c.carImg
	      from   car_v c
	            ,(SELECT @ROWNUM := 0) R
	      where ${keyField} like CONCAT('%',#{keyword},'%')
	     ) t2
	where t2.seq between #{start} and #{end}
	order by t2.seq asc
   </select>
   <select id="car_find_by_num" resultType="com.socar.web.domains.CarDTO" parameterType="com.socar.web.domains.Command">
      select  c.seq
             ,c.carNum
		     ,c.carType
		     ,c.oilType
		     ,c.carOption
		     ,c.socarZone
		     ,c.rentAmt
		     ,c.driveAmt
		     ,c.carImg
	  FROM    car_v c
	  where ${keyField} = #{keyword}
   </select>
   <update id="update" statementType="CALLABLE" parameterType="com.socar.web.domains.CarDTO">
      { call MYSQL.UPDATE_CAR(
         #{carOption, mode=IN,jdbcType=VARCHAR},
         #{socarZone, mode=IN,jdbcType=VARCHAR},
         #{rentAmt, mode=IN,jdbcType=INTEGER},
         #{driveAmt, mode=IN,jdbcType=INTEGER},
         #{carNum, mode=IN,jdbcType=VARCHAR},
         #{carImg, mode=IN,jdbcType=VARCHAR}
      )
      }
   </update>
   <select id="existId" parameterType="com.socar.web.domains.CarDTO" resultType="int">
      select count(*) from car_v where carNum = #{carNum}
   </select>
   <insert id="regist" statementType="CALLABLE" parameterType="com.socar.web.domains.CarDTO">
      { call MYSQL.INSERT_CAR(
         #{carNum, mode=IN,jdbcType=VARCHAR},
         #{carType, mode=IN,jdbcType=VARCHAR},
         #{oilType, mode=IN,jdbcType=VARCHAR},
         #{carOption, mode=IN,jdbcType=VARCHAR},
         #{socarZone, mode=IN,jdbcType=VARCHAR},
         #{rentAmt, mode=IN,jdbcType=INTEGER},
         #{driveAmt, mode=IN,jdbcType=INTEGER},
         #{carImg, mode=IN,jdbcType=VARCHAR}
      )
      }
   </insert>
</mapper>